body
  font: 14px Montserrat, sans-serif
  margin: 0 auto
  max-width: 800px
  min-height: 100vh

a
  color: orangered

.columns-container
  display: flex
  flex-wrap: wrap

.column
  flex: 1 1 100%

.content-container
  padding: 0 2rem

.introduction
  color: gray
  font: 1.3em/1.4em Georgia, serif
  margin-left: 2.5vw

.layout-container
  min-height: 100vh

  > header
    padding-bottom: 0.5em
    padding-top: 1.5em
    border-bottom: 1px solid rgba(gray, 0.3)
    font-size: 1.3em
    line-height: 1.5em

  > .main
    flex: 1
    margin: 1.3em auto

  > footer
    border-top: 1px solid rgba(gray, 0.3)
    font-size: x-small
    font-weight: bold
    padding-bottom: 3.5em
    padding-top: 2.5em
    text-align: center

    > a,
    > .divider
      margin: 0 0.5em

.main-title
  font-size: 1.3em
  line-height: 1

.main-title-minor
  font: bold italic 1em Georgia, serif

.main-title-major
  color: orangered
  font-size: 1.3em
  font-weight: normal
  text-transform: uppercase

.location-heading
  font-size: 1.3em
  text-transform: uppercase

.job
  margin: 3em 0

.job-title
  background: orangered
  border-radius: 2px
  color: white
  font: 400 1em Montserrat, sans-serif
  line-height: 1
  padding: 0 0.2em
  text-decoration: none
  text-transform: uppercase

.job-description
  font-size: small
  line-height: 1.5em
  margin-left: 2.5vw
