name: Deploy jobs.zooniverse.org Staging

on:
    # Run this workflow on creation (or sync to source branch) of a new pull request
    push:
        branches:
          - master

jobs:
  build:
    name: Build staging
    uses: zooniverse/ci-cd/.github/workflows/npm_build.yaml@main
    with:
      commit_id: ${{ github.sha }}
      node_version: '16.x'
      output: 'build'
      script: 'build'
  deploy_staging:
    name: Deploy staging
    uses: zooniverse/ci-cd/.github/workflows/deploy_static.yaml@main
    needs: build
    with:
      source: 'build'
      target: 'preview.zooniverse.org/jobs'
    secrets:
      creds: ${{ secrets.AZURE_STATIC_SITES }}
  slack_notification:
    name: Send Slack notification
    uses: zooniverse/ci-cd/.github/workflows/slack_notification.yaml@main
    needs: deploy_staging
    if: always()
    with:
      commit_id: ${{ github.sha }}
      job_name: Build staging / build
      status: ${{ needs.deploy_staging.result }}
      title: 'Deploy jobs.zooniverse.org Staging complete'
      title_link: 'https://jobs.preview.zooniverse.org'
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
