name: Deploy jobs.zooniverse.org Production

on:
  # Run this workflow on push to production-release tag (via chatops)
  push:
    tags:
      - production-release

  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Write commit_id.txt
        run: echo ${{ github.sha }} > ./build/commit_id.txt
      - name: Upload files
        uses: actions/upload-artifact@v3
        with:
          name: 'build'
          path: ./build
  deploy_production:
    name: Deploy production
    uses: zooniverse/ci-cd/.github/workflows/deploy_static.yaml@main
    needs: upload
    with:
      source: 'build'
      target: 'jobs.zooniverse.org'
    secrets:
      creds: ${{ secrets.AZURE_STATIC_SITES }}
  slack_notification:
    name: Send Slack notification
    uses: zooniverse/ci-cd/.github/workflows/slack_notification.yaml@main
    needs: deploy_production
    if: always()
    with:
      commit_id: ${{ github.sha }}
      job_name: upload
      status: ${{ needs.deploy_production.result }}
      title: 'Deploy jobs.zooniverse.org Production complete'
      title_link: 'https://jobs.zooniverse.org'
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
